{
  "secrets": [
    {% if secrets %}
    {% for secret in secrets %}
    {
      "id": "{{ secret.id }}",
      "name": "{{ secret.name }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endif %}
  ]
} 