.idea
*.iml

target
Cargo.lock

/meta-server-serverless/.idea/
/meta-server-serverless/node_modules/
/meta-server-serverless/build/
/meta-server-serverless/Cargo.lock
/meta-server-serverless/package-lock.json
/meta-server-serverless/target

/wasm/target
/wasm/pkg
/wasm/**/*.rs.bk
/wasm/Cargo.lock
/wasm/bin/
/wasm/wasm-pack.log

web-cli/ui/node_modules
web-cli/ui/dist
web-cli/ui/pkg

.vscode
