.idea
*.iml

meta-secret/target
meta-secret/Cargo.lock

meta-secret/meta-server-serverless/.idea/
meta-secret/meta-server-serverless/node_modules/
meta-secret/meta-server-serverless/build/
meta-secret/meta-server-serverless/Cargo.lock
meta-secret/meta-server-serverless/package-lock.json
meta-secret/meta-server-serverless/target

meta-secret/wasm/target
meta-secret/wasm/pkg
meta-secret/wasm/**/*.rs.bk
meta-secret/wasm/Cargo.lock
meta-secret/wasm/bin/
meta-secret/wasm/wasm-pack.log

meta-secret/web-cli/ui/node_modules
meta-secret/web-cli/ui/dist
meta-secret/web-cli/ui/pkg

.vscode
.aider*

infra/.env
infra/.secret
/infra/k8s/meta-secret-server/build/
/infra/k8s/Taskfile.yml
/infra/k3d/Taskfile.yml
/meta-secret/meta-cli/meta-secret.redb
/appp/
/meta-secret/meta-cli/example/a
/meta-secret/meta-cli/example/b
/meta-secret/meta-cli/example/c
