.idea
*.iml

target
core/target
schema/target
/schema/openapitools.json
/Cargo.lock
/schema/node_modules/
/schema/package.json
/schema/package-lock.json

/meta-server-serverless/.idea/
/meta-server-serverless/node_modules/
/meta-server-serverless/build/
/meta-server-serverless/Cargo.lock
/meta-server-serverless/package-lock.json
/meta-server-serverless/target

/wasm/target
/wasm/pkg
/wasm/**/*.rs.bk
/wasm/Cargo.lock
/wasm/bin/
/wasm/wasm-pack.log

.vscode
