@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    min-height: 100%;
  }

  body {
    margin: 0;
    background: #080f1c;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}
