@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    transition: background-color 0.3s ease;
  }
  
  body, header, nav, div, button {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  
  .theme-transition * {
    transition: none !important;
  }
}
