name: Deploy to GitHub Pages

on:
  workflow_dispatch:
    inputs:
      deploy_message:
        description: 'Deployment message'
        required: false
        default: 'Manual deployment'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: cypherkitty
          password: ${{ secrets.META_SECRET_SERVER_DOCKER_PAT }}

      - name: Build Web UI
        run: make web-local

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.META_SECRET_GH_PAT }}
          external_repository: meta-secret/meta-secret.github.io
          publish_branch: main
          publish_dir: meta-secret/web-cli/ui/dist
          commit_message: ${{ github.event.inputs.deploy_message }}

      - name: Deploy web-cli (cloudflare pages)
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUD_FLARE_PAGES_TOKEN }}
          accountId: ${{ secrets.CLOUD_FLARE_ACCOUNT_ID }}
          projectName: meta-secret-web-cli
          directory: meta-secret/web-cli/ui/dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          wranglerVersion: 2
