name: "tests"

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      FORCE_COLOR: 1
      PUSH_CACHE: 1

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: cypherkitty
          password: ${{ secrets.META_SECRET_SERVER_DOCKER_PAT }}

      - name: Run tests
        run: make test
